<a href="https://colab.research.google.com/github/longnguyen08/DA_Projects/blob/master/Cryptocurrency_Market_Analysis/CoinPrices_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cp = pd.read_csv('/content/CoinPrices.csv')

In [ ]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826697 entries, 0 to 826696
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  826697 non-null  int64
 1   Date        826693 non-null  object
 2   Open.       826697 non-null  object
 3   High        825966 non-null  float64
 4   Low         826051 non-null  float64
 5   Close..     826697 non-null  object
 6   Volume      826697 non-null  object
 7   Market.Cap  826697 non-null  object
 8   coin        826697 non-null  object
 9   Open        826004 non-null  float64
 10  Close       826006 non-null  float64
 11  Delta       825980 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 75.7+ MB

In [ ]:
cp_xoa = cp.iloc[:,9:12]

In [ ]:
cp = cp.drop(cp_xoa, axis = 1)

In [ ]:
cp = cp.drop('Unnamed: 0', axis = 1)

In [ ]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826697 entries, 0 to 826696
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        826693 non-null  object
 1   Open.       826697 non-null  object
 2   High        825966 non-null  float64
 3   Low         826051 non-null  float64
 4   Close..     826697 non-null  object
 5   Volume      826697 non-null  object
 6   Market.Cap  826697 non-null  object
 7   coin        826697 non-null  object
dtypes: float64(2), object(6)
memory usage: 50.5+ MB

In [ ]:
cp = cp.rename(columns={'Open.' : 'Open', 'Close..' : 'Close', 'Market.Cap': 'MarketCap', 'coin': 'CoinName'})

In [ ]:
print(cp['Date'].unique())
print(cp['Open'].unique())
print(cp['High'].unique())
print(cp['Low'].unique())
print(cp['Close'].unique())
print(cp['Volume'].unique())
print(cp['MarketCap'].unique())
print(cp['CoinName'].unique())

In [ ]:
cp.isnull().sum()

Date           4
Open           0
High         731
Low          646
Close          0
Volume         0
MarketCap      0
CoinName       0
dtype: int64

In [ ]:
cp= cp.dropna()

In [ ]:
cp.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
MarketCap    0
CoinName     0
dtype: int64

In [ ]:
cp['Date']= pd.to_datetime(cp['Date'])

In [ ]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 825966 entries, 0 to 826696
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       825966 non-null  datetime64[ns]
 1   Open       825966 non-null  object
 2   High       825966 non-null  float64
 3   Low        825966 non-null  float64
 4   Close      825966 non-null  object
 5   Volume     825966 non-null  object
 6   MarketCap  825966 non-null  object
 7   CoinName   825966 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 56.7+ MB

In [ ]:
cp['Volume'] = cp['Volume'].transform(lambda x: x.replace(',',''))
cp['Volume'] = cp['Volume'].transform(lambda x: x.replace('-','0'))
cp['Volume'] = cp['Volume'].astype(int)

In [ ]:
cp['MarketCap'] = cp['MarketCap'].transform(lambda x: x.replace(',',''))
cp['MarketCap'] = cp['MarketCap'].transform(lambda x: x.replace('-','0'))
cp['MarketCap'] = cp['MarketCap'].astype(int)

In [ ]:
cp.to_csv('CoinPrices_Clean.csv', index = False)